body, html {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	width: 300px;
	height: 400px;
}

h1, p {
	text-align: center;
}

footer {
	display: block;
	position: relative;
	top: 400px;
	background: DeepSkyBlue;
	overflow:auto;
}

a {
	text-decoration: none;
	color: black;
}

i {
	margin: 5px;
}

.button-panel {
	display: block;
	position: relative;
	width: 80%;
	margin: 0 auto;
	box-sizing: border-box;
}

.button {
	border: 1px solid black;
	border-radius: 5px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 1.5em;
	margin: 10 auto;
	box-sizing: border-box;
}

.top {
	background-color: DeepSkyBlue;
	height: 8%;
	color: white;
}

.button:hover {
  background-color: DeepSkyBlue;
  color: white;
}

.margin-80 {
	width: 80%;
	margin: 0 auto;
	margin: 20px;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
	color: white;

	-webkit-transition: color 1s;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons:hover {
	color: #b3ecff;
}

.form {
	display: block;
	position: relative;
	width: 80%;
	margin: 0 auto;
	box-sizing: border-box;
}

.form-box {
	display: block;
}

#form-submit-button {
	background-color: white;
	font-size: 1em;
	padding-top: 0px;
	padding-bottom: 0px;
}

#form-submit-button:hover {
	background-color: DeepSkyBlue;
}

#start-button {
}

#list {
	float: left;
}

#settings {
	float: right;
}

#back {
	float: left;
}
