body {
	width: 300px;
	height: 400px;
}

h1, p {
	text-align: center;
}

.button-panel {
	display: block;
	position: relative;
	width: 80%;
	margin: 0 auto;
	box-sizing: border-box;
}
.button {
	border: 1px solid black;
	border-radius: 5px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 1.5em;
	margin: 10 auto;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: black;
}

.button:hover {
    background-color: DeepSkyBlue;
    color: white;
}

#start-button {
	margin-top: 50%;
	padding-top: 40%;
	padding-bottom: 40%;
}
