body {
	width: 300px;
	height: 500px;
}

.button-panel {
	display: inline-block;
	align: center;
	width: 90%;
}
.button {
	border: 1px solid black;
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

#start-button {
	padding: 20px 60px;
}
